html {
  background-color: #eeeeee;
}

body {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

.box{
  color:black;
  border-style:double;
}

@media screen and (min-width: 750px) {
    #e1 {
        background-color: rgb(255, 255, 0);
    }
}

@media screen and (min-width: 970px) {
    #e1 {
        background-color: rgb(255, 0, 0);
    }
}

@media screen and (min-width: 1170px) {
    #e1 {
        background-color: rgb(0, 255, 0);
    }
}
